/* grid setup */
/* color pallette: {
  "Yellow Pantone":"fae106",
  "Smoky Black":"0e0d0b",
  "Blue Munsell":"009fb7",
  "Snow":"fffbff",
  "Cultured":"eef0f2"}
 */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr auto;
  grid-template-areas:
    "header"
    "main"
}

/* generic styling */

body {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  background-color: #0e0d0b;
  color: #fffbff;
}

button {
  background-color: #fffbff;
  border: 3px solid #998888;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}