.loginForm {
  margin: 0 auto;
  vertical-align: middle;
}

.loginForm > div,
.loginForm > button {
  display: block;
  margin: 5px auto;
  padding: 5px;
}

.loginForm > div > input {
  float: right;
  clear: both;
}

.formDiv > label {
  padding-right: 10px;
}

.hidden {
  display: none !important;
}