/* color pallette: {
  "Yellow Pantone":"fae106",
  "Smoky Black":"0e0d0b",
  "Blue Munsell":"009fb7",
  "Snow":"fffbff",
  "Cultured":"eef0f2"}
 */

.popupContainer {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 4;
}

.popup {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color: darkgray;
  opacity: .6;
  z-index: 5;
}

.form {
  z-index: 10;
  background-color: #fffbff;
  color: #0e0d0b;
  padding: 30px;
  display: block;
  position: fixed;
  top: 25vh;
  left: 35vw;
  width: 30vw;
  opacity: 1;
}

.formField {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
  width: 80%;
  margin: 10px auto;
}

.formField label {
  text-align: right;
}

.form > button {
  display: block;
  margin: 5px auto;
}

.form > a {
  display: block;
  text-align: center;
}

.form > a:hover {
  text-decoration: underline;
}

.without::-webkit-datetime-edit-ampm-field,
.hidden {
  display: none;
}

input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance:none;
  appearance: none;
  margin: -10px;
}